---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Roast Dinners About";
import "./pages.css";
---

<BaseLayout pageTitle={pageTitle}>
  <div class='container'>
    <h2>About:</h2>
  </div>
</BaseLayout>
