---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "All The Countries With Roast Dinners";
import "./pages.css";
---

<BaseLayout pageTitle={pageTitle}>
  <div class='container'>
    <h2>Countries:</h2>
  </div>
</BaseLayout>
