main {
  margin-bottom: 5rem;

  @media (min-width: 769px) {
    padding: 0.5rem;
  }
}

h2 {
  text-align: left;
  margin: 1rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px) {
      flex: 50%;
      max-width: calc(50% - 1rem);
    }
    @media (min-width: 1200px) {
      flex: 33%;
      max-width: calc(33% - 1rem);
    }
    @media (min-width: 1400px) {
      flex: 25%;
      max-width: calc(25% - 1rem);
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    letter-spacing: 2px;
  }

  p {
    color: #666;
    padding: 0 1rem;
  }
}
