.container {
  min-height: 60vh;
}

.grid-container {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  padding: 16px;
}

.grid-item a {
  grid-column: 1 / 28;
  text-decoration: none;
}

.grid-item span:nth-child(2) {
  grid-column: 30 / 35;
}

.grid-item span:nth-child(3) {
  grid-column: 40 / 45;
}

.grid-item span:nth-child(4) {
  grid-column: 50 / 55;
}

.grid-item span:nth-child(5) {
  grid-column: 60 / 70;
}

.grid-item span:nth-child(6) {
  grid-column: 75 / 93;
}

.grid-item span:nth-child(7) {
  grid-column: 95 / 100;
}

.grid-item a:hover {
  text-decoration: underline;
}

.grid-item span {
  display: block;
  color: #555;
}

@media (max-width: 1000px) {
  .grid-item {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
  }

  .grid-item a {
    grid-column: 1 / 4; /* Title spans all columns */
  }

  .grid-item span:nth-child(2) {
    grid-column: 1 / 2; /* Rating in the first column */
  }

  .grid-item span:nth-child(3) {
    grid-column: 2 / 3; /* Price in the second column */
  }

  .grid-item span:nth-child(4) {
    grid-column: 3 / 4; /* Meat in the third column */
  }

  .grid-item span:nth-child(5) {
    grid-column: 1 / 2; /* Country in the first column */
  }

  .grid-item span:nth-child(6) {
    grid-column: 2 / 3; /* Year visited in the second column */
  }

  .grid-item span:nth-child(7) {
    grid-column: 3 / 4; /* Another item in the third column */
  }
}

@media (max-width: 600px) {
  .grid-item {
    grid-template-columns: 1fr; /* Single column for very small screens */
  }

  .grid-item a,
  .grid-item span {
    grid-column: 1 / -1; /* Ensure all items span the entire width */
  }
}

img {
  max-width: 100%;
  height: auto;
}

.sort-posts,
.filter-posts,
.toggle-columns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.9rem;
  margin-bottom: 16px;

  label {
    color: #333;
    min-width: 100px;

    &:first-of-type {
      margin-left: 16px;
    }
  }

  @media (min-width: 600px) {
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  p {
    margin: 0 16px 8px;
    color: #333;
  }
}

button,
select,
input {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  margin: 0;
  cursor: pointer;
}

.clear-button {
  margin-left: 16px;
}
