---
import BaseLayout from "../layouts/BaseLayout.astro";
import "./league-of-roasts.css";
import "./../layouts/layout.css";
import { Image } from "astro:assets";
import console from "console";
import SortPosts from "../components/sortPosts";

const response = await fetch(
  "https://www.roastdinnersaroundtheworld.com/wp-json/wp/v2/posts"
);

const totalPosts = response.headers.get("X-WP-Total");

console.log(`Total number of posts: ${totalPosts}`);

const postsResponse = await fetch(
  "https://www.roastdinnersaroundtheworld.com/graphql",
  {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
        query AllSlugs {
          posts {
            nodes {
              slug
              title
              customfields {
                rating
                currency
                price
                meat
                country
                yearVisited
              }
            }
          }
        }
        `,
    }),
  }
);

const { data } = await postsResponse.json();

const posts = data.posts.nodes;

const sortedByColumn = (posts, column, order) => {
  return posts.sort((a, b) => {
    if (a.customfields[column] < b.customfields[column]) return order === 'asc' ? -1 : 1;
    if (a.customfields[column] > b.customfields[column]) return order === 'asc' ? 1 : -1;
    return 0;
  });
};

const singleResponse = await fetch(
  "https://www.roastdinnersaroundtheworld.com/graphql",
  {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
        query SinglePost($id: ID = "205") {
          page(idType: DATABASE_ID, id: $id) {
            date
            content
            title
            featuredImage {
              node {
                sourceUrl
              }
            }
          }
        }
        `,
    }),
  }
);

const { data: singleResponseData } = await singleResponse.json();

const singlePost = singleResponseData.page;
---

<BaseLayout pageTitle='League Of Roasts Around The World'>
  <Image src={singlePost.featuredImage?.node.sourceUrl} alt={singlePost.title} width={2000} height={2000} class='featured-image' />
  <div class='container'>
    <h2>League Of Roasts:</h2>
    <SortPosts posts={posts} client:load />
  </div>
</BaseLayout>
