---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "where Should I Go?";
import "./pages.css";
---

<BaseLayout pageTitle={pageTitle}>
  <div class='container'>
    <h2>Where Should I Go?</h2><p>
      Know somewhere in the world with a great roast dinner?
    </p>
  </div>
</BaseLayout>
