header {
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  color: white;
  font-size: 1.5em;
  nargin-right: 2rem;

  a {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    font-family: "yellowtail", "Roboto", sans-serif;
    line-height: 0;
  }
}
