---
import { Image } from "astro:assets";
import logo3 from "../../images/logos/rdaw-logo-3.webp";
import "./header.css";
---

<header>
  <div class='nav-container'>
    <a href='/'><Image src={logo3} alt='A bird.' width='100' height='100' /></a>
    <nav>
      <a href='/'>Home</a>
      <a href='/about'>About</a>
      <a href='/league-of-roasts'>League Of Roasts</a>
      <a href='/countries'>Countries</a>
      <a href='/to-do-list'>To-do List</a>
      <a href='/where-should-i-go'>Where Should I Go?</a>
    </nav>
  </div>
</header>
