header {
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  color: white;
  font-size: 1.5em;
  margin-right: 2rem;

  a {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    font-family: "yellowtail", "Roboto", sans-serif;
    max-height: 100px;

    img {
      width: 50px;
      height: 50px;

      @media (min-width: 768px) {
        width: 100px;
        height: 100px;
      }
    }
  }

  .logo {
    color: white;
    font-size: 1.5em;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.nav-container {
  position: relative;
  flex-wrap: wrap;
}

#nav-toggle {
  position: relative;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;

  @media (min-width: 1200px) {
    display: none;
  }
}

#nav-toggle::before,
#nav-toggle::after,
#nav-toggle span {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

#nav-toggle::before {
  top: 0;
}

#nav-toggle span {
  top: 50%;
  transform: translateY(-50%);
}

#nav-toggle::after {
  bottom: 0;
}

#nav-toggle.open::before {
  transform: translateY(8px) rotate(45deg);
}

#nav-toggle.open span {
  opacity: 0;
}

#nav-toggle.open::after {
  transform: translateY(-8px) rotate(-45deg);
}

#nav-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;

  @media (min-width: 768px) {
    top: 100px;
    width: auto;
  }

  @media (min-width: 1200px) {
    display: flex;
    position: relative;
    box-shadow: none;
    top: 0;
    background-color: #333;
    justify-content: center;
    width: 100%;
  }

  @media (min-width: 1550px) {
    width: unset;
  }
}

#nav-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-family: "yellowtail", "Roboto", sans-serif;

  @media (min-width: 768px) {
    font-size: 1.5em;
  }

  @media (min-width: 1200px) {
    margin: 0;
    color: white;
    line-height: 1;
    font-size: 1em;
  }
}

#nav-menu a:hover {
  background-color: #f0f0f0;

  @media (min-width: 1200px) {
    background-color: #444;
  }
}

#nav-toggle.open + #nav-menu {
  display: block;
}
