---
import Header from "../components/header/header.astro";
import Footer from "../components/footer.astro";
const { pageTitle, description, opengraphImage } = Astro.props;
import "./layout.css";
import "@fontsource/yellowtail";
import logo3 from "../../images/logos/rdaw-logo-3.webp";

import { SEO } from "astro-seo";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicon/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/favicon/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/favicon/favicon-16x16.png'
    />
    <link rel='manifest' href='/favicon/site.webmanifest' />
    <meta name='msapplication-TileColor' content='#da532c' />
    <meta name='theme-color' content='#ffffff' />
    <meta name='viewport' content='width=device-width' />
    <SEO
      title={pageTitle || "Roast Dinners Around The World"}
      description={description ||
        "Emporer Gravy bringing you roast dinner reviews from around the world."}
      openGraph={{
        basic: {
          title: pageTitle || "Roast Dinners Around The World",
          type: "Article",
          image: opengraphImage || logo3,
        },
        optional: {
          description:
            description ||
            "Emporer Gravy bringing you roast dinner reviews from around the world.",
          siteName: "Roast Dinners Around The World",
        },
      }}
    />
  </head>
  <body>
    <div class='page-container'>
      <Header />
      <main>
        <!-- <h2>{pageTitle}</h2> -->
        <!-- <p>Roast dinner reviews.</p> -->
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
